.navigation__button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 2px solid var(--white);
    border-radius: 2px;
    color: var(--white);
    font-size: 18px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s linear;
}

.navigation__button:hover {
    opacity: 1;
}